body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3); 
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.wrapper {
    display: flex; /* Use flexbox for layout */
    max-width: 1200px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the wrapper horizontally */
    overflow: hidden; /* Prevents content overflow */
}

.left-column {
    width: 200px; /* Set width for the left column */
    z-index: 1; /* Ensure the navigation is below the header */
}

nav {
    background-color: #BBDEFB; 
    padding: 0.5em; 
    text-align: center; 
}

nav a {
    display: block; /* Ensures each link takes up full width */
    padding: 0.5em 0; /* Add vertical padding */
}

.right-column {
    flex-grow: 1; /* Allow the right column to grow and occupy remaining space */
    padding: 0 20px; /* Add padding for better spacing */
}

header {
    background-color: #002171;
    color: #ffffff;
    padding: 1em; /* Add padding for better spacing */
    text-align: center; /* Center align header content */
    position: relative; /* Allow z-index to work */
    z-index: 2; /* Ensure the header is above the navigation */
}

h1 {
    margin-top: 0; /* Remove top margin from h1 */
}

#homehero {
    width: 100%; /* Ensure the image spans the width of the container */
}

.resort {
    color: #1976D2; 
    font-size: 1.2em;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
