* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.left-column {
    display: block;
}

nav {
    display: none;
    text-align: center;
    background-color: #002171;
}

nav a {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
}

.right-column {
    margin-left: 170px;
    background-color: #FFFFFF;
    overflow: auto;
}

header {
    padding: 1em;
    background-color: #002171;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin-top: 0;
}

#homehero,
#yurthero,
#trailhero {
    background-size: 200% 100%;
}

footer {
    background-color: #FFFFFF;
    padding: 1em;
}

section {
    padding: 0.5em;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .left-column {
        display: none;
    }

    nav {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #desktop {
        display: none;
    }
}

#mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #mobile {
        display: inline;
    }
}