* {
    box-sizing: border-box;
}

body {
    background-color: #90C7E3; /* Change background color */
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.left-column {
    float: left;
    width: 160px;
    padding: 0;
    font-size: 1.2em;
    position: fixed;
}

nav {
    background-color: #002171; /* Change background color */
    color: #ffffff; /* Change text color */
    text-align: center; /* Center text */
}

nav a:link,
nav a:visited {
    color: #4f22f3; /* Set color for unvisited and visited hyperlinks */
    text-decoration: none; /* Remove underline */
}

nav a:hover {
    color: #90C7E3; /* Set color for hyperlinks on hover */
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav li {
    padding: 0.5em 1em;
    width: 100%;
    border-bottom: 1px solid #666666;
}

.right-column {
    margin-left: 170px;
    background-color: #FFFFFF;
    overflow: auto;
}

header {
    padding: 1em; /* Add padding */
    text-align: center;
}

h1 {
    font-size: 1.5em; /* Set font size */
    margin-top: 0;
}

main {
    padding: 0 1em; /* Add padding */
}

section {
    padding: 0.5em; /* Add padding */
}

#homehero,
#yurthero,
#trailhero {
    background-size: 200% 100%;
}

footer {
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    #telephone {
        display: inline;
    }
    
    #mobile {
        display: inline;
    }
    
    #desktop {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    #telephone {
        display: none;
    }
    
    #mobile {
        display: none;
    }
    
    #desktop {
        display: inline;
    }
}
